/*
Author: Fabrizio Feitosa
Author URI: http://fabriziofeitosa.me
*/

@charset "UTF-8";

/* #######################################
        CONFIGURAÇÕES
####################################### */

$laranja: #ffa500;
$laranjaEscuro: #c37129;

@font-face {
    font-family: 'nougatregular';
    src: url('../fonts/nougat-extrablack-webfont.woff') format('woff2'),
         url('../fonts/nougat-extrablack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bahnschrift Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT.woff') format('woff');
}

/* #######################################
        BÁSICO
####################################### */

body, html {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Bahnschrift Regular';
}

a.tudo {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

*:focus {
    outline: none !important;
}

body .add-blur {
    filter: blur(5px);
}

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

/* #######################################
        Estáticos
####################################### */

$tamanhoBola: 70px;

.btn-float {
    background-color: $laranja;
    color: #fff;
    width: $tamanhoBola;
    height: $tamanhoBola;
    border-radius: 100%;
    display: block;
    font-size: 40px;
    img {
        max-width: 80%;
        max-height: 80%;
    }
    &:hover,
    &:active {
        background-color: lighten($laranja, 10%);
    }
}

.btn-principal {
    z-index: 997;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    min-width: $tamanhoBola;
    min-height: $tamanhoBola;
    .icon-principal {
        z-index: 999;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: $laranja;
        color: #fff;
        font-size: 34px;
        width: $tamanhoBola;
        height: $tamanhoBola;
        border-radius: 100%;
        display: block;
        font-size: 40px;
        line-height: $tamanhoBola;
        text-align: center;
        transition: all .2s;

        img {
            position: absolute;
            max-width: 80%;
            max-height: 80%;
            transition: all .2s;

            &.garfo {
                top: 10%;
                left: 30%;
            }
            &.faca {
                top: 10%;
                right: 30%;
            }
        }
    }
    .outros {
        z-index: 998;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 100%;
        width: $tamanhoBola;
        height: $tamanhoBola;
        background-color: #fad67a;
        overflow: hidden;
        opacity: 0;
        transition: all .2s;

        .outro-btn {
            width: $tamanhoBola - 10px;
            height: $tamanhoBola - 10px;
            background-color: #fff;
            padding: 10px;
            border-radius: 100%;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        .position01 {
            position: absolute;
            top: 50%;
            left: 15%;
            transform: translate(-50%,-50%);
        }
        .position02 {
            position: absolute;
            top: 25%;
            left: 25%;
            transform: translate(-50%,-50%);
        }
        .position03 {
            position: absolute;
            top: 15%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        .position04 {
            position: absolute;
            top: 25%;
            right: 25%;
            transform: translate(50%,-50%);
        }
        .position05 {
            position: absolute;
            top: 50%;
            right: 15%;
            transform: translate(50%,-50%);
        }
    }

    &.aberto {
        .icon-principal {
            font-size: 46px;
            width: $tamanhoBola + 20px;
            height: $tamanhoBola + 20px;
            line-height: $tamanhoBola + 20px;

            img.garfo {
                transform: rotate(30deg);
                left: 45%;
            }
            img.faca {
                transform: rotate(-30deg);
                right: 45%;
            }
        }
        .outros {
            width: 350px;
            height: 350px;
            opacity: 1;
        }
    }
}

.card-item {
    position: relative;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    margin: 0 15px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 12px;
    .logotipo {
        width: 30%;
        background-position: center;
        background-size: cover;
        &::before {
            content: '';
            padding-top: 100%;
            float: left;
        }
        &::after {
            content: '';
            display: block;
            clear: both;
        }
    }
    .infor {
        width: 70%;
        padding-left: 10px;
        .nome {
            font-size: 24px;
            line-height: 1.2;
            width: 100%;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .avaliacao {
            font-size: 12px;
            color: $laranja;
            .estrelas,
            .nota {
                display: inline;
            }
            .nota {
                margin-left: 5px;
            }
        }
        .categoria {
            font-size: 14px;
        }
    }
    .status {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 14px;
        .bola {
            display: inline-block;
            width: 8px;
            height: 8px;
            background-color: silver;
            border-radius: 100%;
        }
        &.online {
            .bola {
                background-color: green;
            }
        }
    }

    &.deBusca {
        box-shadow: 0 0 0 rgba(0,0,0,0);
        .infor {
            background-color: #f6f7f8;
        }
    }
    &:hover,
    &:active {
        background-color: #e7e6e6;
    }
}

$bolaStories-w: 70px;
.stories-list {
    width: calc(100% - 30px);
    height: $bolaStories-w + 5px;
    margin: 0 15px;
    margin-bottom: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }

    .storie-item {
        position: relative;
        width: $bolaStories-w;
        height: $bolaStories-w;
        display: inline-block;
        &:not(:last-child) {
            margin-right: 15px;
        }
        .img {
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 100%;
            border-radius: 100%;
        }
        .status {
            position: absolute;
            top: 0;
            right: 0;
            width: 20px;
            height: 20px;
            background-color: $laranja;
            border-radius: 100%;
        }
    }
}

/* #######################################
        HEADER
####################################### */

header.principal {
    z-index: 1000;
    margin: 0 15px;
    border-radius: 10px;
    transition: all .2s;
    padding-top: 10px;
    img {
        max-width: 100%;
    }
    .logobusca {
        height: 60px;
        .logo {
            width: 20%;
            height: 40px;
            margin-right: 10px;
            transition: all .2s;
            img {
                max-height: 80%;
            }
        }
        .busca {
            width: 80%;
            height: 40px;
            position: relative;
            background-color: #e6e6e6;
            color: #000;
            border-radius: 10px;
            transition: all .2s;
            input {
                width: 100%;
                height: 40px;
                background-color: transparent;
                border: none;
                padding: 0 50px 0 15px;
                font-size: 16px;
                line-height: 1;
            }
            button {
                position: absolute;
                top: 0;
                right: 0;
                width: 40px;
                height: 40px;
                background-color: transparent;
                border: none;
            }
        }
    }
    .resultados {
        display: none;
        padding-top: 10px;
        .mensagem {
            max-width: 75%;
            margin: 0 auto;
            text-align: center;
            line-height: 1;
            padding: 15px 0;
            color: silver;
        }
        .categorias {
            padding: 0 15px;
            .titulo {
                font-size: 18px;
            }
            .lista-cat {
                overflow-x: scroll;
                overflow-y: hidden;
                white-space: nowrap;
                margin-bottom: 20px;

                scrollbar-width: none;
                overflow: -moz-scrollbars-none;
                -ms-overflow-style: none;
                &::-webkit-scrollbar {
                    display: none;
                }
                .item {
                    position: relative;
                    display: inline-block;
                    width: 100px;
                    height: 100px;
                    background-position: center;
                    background-size: cover;
                    &:not(:first-child) {
                        margin-left: -3px;
                    }
                    .gradient {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.7) 100%);
                    }
                    .nome {
                        position: absolute;
                        bottom: 5px;
                        right: 5px;
                        color: #fff;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    &.focus {
        position: absolute;
        top: 10px;
        left: 2.5%;
        width: 95%;
        margin: 0;
        padding-top: 5px;
        padding-right: 0;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
        .logobusca {
            padding: 0 15px;
            .logo {
                width: 0%;
                margin-right: 0;
            }
            .busca {
                width: 100%;
            }
        }
        .resultados {
            display: block;
        }
        & + .area-conteudo {
            padding-top: 90px;
        }
        // & ~ * {
        //     filter: blur(5px);
        // }
    }
}

/* #######################################
        PAG. 01 - Home
####################################### */

.pag-home {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    .area-conteudo {
        padding-top: 20px;
        padding-bottom: 80px;

        .slide-home {
            padding: 0 15px;
            margin-bottom: 20px;
            .slide-item {
                img {
                    max-width: 100%;
                }
            }

            .slick-dots {
                bottom: 0;
                left: 0;
            }
        }
    }
}

/* #######################################
        PAG. 04 - STORIES
####################################### */

.pag-stories {
    position: relative;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-size: cover;

    .sobre-empresa {
        position: absolute;
        top: 20px;
        left: 0;
        padding: 0 15px;

        .logo {
            width: 20%;
            border-radius: 100%;
            overflow: hidden;
            img {
                max-width: 100%;
            }
        }
        .sobre {
            width: 80%;
            padding-left: 15px;
            .barrinha {
                display: block;
                width: 100%;
                height: 20px;
                border: 2px solid $laranja;
                background-color: transparent;
                .preenchimento {
                    height: 100%;
                    display: block;
                    background-color: $laranja;
                }
            }
            .avaliacao {
                color: $laranja;
                margin-top: 10px;
            }
        }
    }

    $cw: 80%;
    $ch: 30%;

    $ct: 50%;
    $cl: 50%;

    $blur-w: (100%/$cw) * 100%;

    $tx: $cl - ($cw/2);
    $ty: $ct - ($ch/2);

    .sobre-produto {
        text-align: center;
        color: #fff;
        background-image: inherit;
        width: $cw; /* =cw */
        height: $ch; /* =ch */
        position: absolute;
        top: $ct; /* =ct */
        left: $cl; /* =cl */
        transform: translate(-50%, -50%);
        border-radius: 30px;
        overflow: hidden;
        padding: 15px;

        .titulo {
            font-size: 34px;
            line-height: 1.1;
            font-weight: bold;
            text-transform: uppercase;
            font-family: 'nougatregular';
            text-shadow: 0px 0px 10px #000000;
        }
        .sobre {
            width: 80%;
            margin-left: 10%;
            font-size: 18px;
            line-height: 1.2;
        }
        .preco {
            color: $laranja;
            font-size: 34px;
            font-weight: bold;
            text-shadow: 1px 1px 1px rgba(0,0,0,1);
        }
        .blur {
            background-image: inherit;
            background-size: cover;
            height: 100vh; /* h */
            height: calc(var(--vh, 1vh) * 100);
            width: $blur-w; /* (100/cw) x 100% */
            position: absolute;
            left: 0;
            top: 0;
            transform: translate(-$tx,-$ty); /* - [cl - (cw/2)] % ,  -[ct - (ch/2)] % */
            filter: blur(10px);
            z-index: -1;
        }
    }

    .btn-infor,
    .btn-pedir {
        position: absolute;
        bottom: 20px;
        box-shadow: 0px 0px 10px #000000;
    }

    .btn-infor {
        left: 20px;
        img {
            width: 60%;
            height: 60%;
        }
    }
    .btn-pedir {
        right: 20px;
        img {
            width: 70%;
            height: 70%;
        };
    }
}

/* #######################################
        PAG. 16 - LOGIN
####################################### */

.pag-login {
    background-color: $laranja;
    position: relative;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    padding-top: 15vh;
    .conteudo {
        margin: 0 auto;
        .logo {
            text-align: center;
            margin-bottom: 30px;
            img {
                width: 50%;
                max-width: 100%;
            }
        }
        form {
            width: 80%;
            margin: 0 auto;
            .form-group {
                margin-bottom: 10px;
                input {
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid $laranjaEscuro;
                    padding: 5px 15px;
                    font-size: 18px;
                    @include input-placeholder() {
                        color: $laranjaEscuro;
                        opacity: 1;
                    }
                }
            }
            button {
                display: block;
                background-color: #f78f1e;
                color: #fff;
                border: none;
                width: 80%;
                margin: 20px auto 0;
                padding: 15px 15px;
                font-size: 18px;
                border-radius: 10px;
                line-height: 1;
            }
            .links {
                margin-top: 20px;
                color: $laranjaEscuro;
                text-align: center;
                font-size: 18px;
                a {
                    display: block;
                    color: inherit;
                }
            }
        }
    }
}