@charset "UTF-8";
/*
Author: Fabrizio Feitosa
Author URI: http://fabriziofeitosa.me
*/
/* #######################################
        CONFIGURAÇÕES
####################################### */
@font-face {
  font-family: 'nougatregular';
  src: url("../fonts/nougat-extrablack-webfont.woff") format("woff2"), url("../fonts/nougat-extrablack-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Bahnschrift Regular"), url("../fonts/BAHNSCHRIFT.woff") format("woff");
}

/* #######################################
        BÁSICO
####################################### */
body, html {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Bahnschrift Regular';
}

a.tudo {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

*:focus {
  outline: none !important;
}

body .add-blur {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

/* #######################################
        Estáticos
####################################### */
.btn-float {
  background-color: #ffa500;
  color: #fff;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  display: block;
  font-size: 40px;
}

.btn-float img {
  max-width: 80%;
  max-height: 80%;
}

.btn-principal {
  z-index: 997;
  position: fixed;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  min-width: 70px;
  min-height: 70px;
}

.btn-principal .icon-principal {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffa500;
  color: #fff;
  font-size: 34px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  display: block;
  font-size: 40px;
  line-height: 70px;
  text-align: center;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn-principal .icon-principal img {
  position: absolute;
  max-width: 80%;
  max-height: 80%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn-principal .icon-principal img.garfo {
  top: 10%;
  left: 30%;
}

.btn-principal .icon-principal img.faca {
  top: 10%;
  right: 30%;
}

.btn-principal .outros {
  z-index: 998;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background-color: #fad67a;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn-principal .outros .outro-btn {
  width: 60px;
  height: 60px;
  background-color: #fff;
  padding: 10px;
  border-radius: 100%;
}

.btn-principal .outros .outro-btn img {
  max-width: 100%;
  max-height: 100%;
}

.btn-principal .outros .position01 {
  position: absolute;
  top: 50%;
  left: 15%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.btn-principal .outros .position02 {
  position: absolute;
  top: 25%;
  left: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.btn-principal .outros .position03 {
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.btn-principal .outros .position04 {
  position: absolute;
  top: 25%;
  right: 25%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.btn-principal .outros .position05 {
  position: absolute;
  top: 50%;
  right: 15%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.btn-principal.aberto .icon-principal {
  font-size: 46px;
  width: 90px;
  height: 90px;
  line-height: 90px;
}

.btn-principal.aberto .icon-principal img.garfo {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  left: 45%;
}

.btn-principal.aberto .icon-principal img.faca {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  right: 45%;
}

.btn-principal.aberto .outros {
  width: 350px;
  height: 350px;
  opacity: 1;
}

.card-item {
  position: relative;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  margin: 0 15px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
}

.card-item .logotipo {
  width: 30%;
  background-position: center;
  background-size: cover;
}

.card-item .logotipo::before {
  content: '';
  padding-top: 100%;
  float: left;
}

.card-item .logotipo::after {
  content: '';
  display: block;
  clear: both;
}

.card-item .infor {
  width: 70%;
  padding-left: 10px;
}

.card-item .infor .nome {
  font-size: 24px;
  line-height: 1.2;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-item .infor .avaliacao {
  font-size: 12px;
  color: #ffa500;
}

.card-item .infor .avaliacao .estrelas,
.card-item .infor .avaliacao .nota {
  display: inline;
}

.card-item .infor .avaliacao .nota {
  margin-left: 5px;
}

.card-item .infor .categoria {
  font-size: 14px;
}

.card-item .status {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
}

.card-item .status .bola {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: silver;
  border-radius: 100%;
}

.card-item .status.online .bola {
  background-color: green;
}

.card-item.deBusca {
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.card-item.deBusca .infor {
  background-color: #f6f7f8;
}

.card-item:hover, .card-item:active {
  background-color: #e7e6e6;
}

.stories-list {
  width: calc(100% - 30px);
  height: 75px;
  margin: 0 15px;
  margin-bottom: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.stories-list::-webkit-scrollbar {
  display: none;
}

.stories-list .storie-item {
  position: relative;
  width: 70px;
  height: 70px;
  display: inline-block;
}

.stories-list .storie-item:not(:last-child) {
  margin-right: 15px;
}

.stories-list .storie-item .img {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.stories-list .storie-item .status {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #ffa500;
  border-radius: 100%;
}

/* #######################################
        HEADER
####################################### */
header.principal {
  z-index: 1000;
  margin: 0 15px;
  border-radius: 10px;
  -webkit-transition: all .2s;
  transition: all .2s;
  padding-top: 10px;
}

header.principal img {
  max-width: 100%;
}

header.principal .logobusca {
  height: 60px;
}

header.principal .logobusca .logo {
  width: 20%;
  height: 40px;
  margin-right: 10px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

header.principal .logobusca .logo img {
  max-height: 80%;
}

header.principal .logobusca .busca {
  width: 80%;
  height: 40px;
  position: relative;
  background-color: #e6e6e6;
  color: #000;
  border-radius: 10px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

header.principal .logobusca .busca input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0 50px 0 15px;
  font-size: 16px;
  line-height: 1;
}

header.principal .logobusca .busca button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}

header.principal .resultados {
  display: none;
  padding-top: 10px;
}

header.principal .resultados .mensagem {
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
  line-height: 1;
  padding: 15px 0;
  color: silver;
}

header.principal .resultados .categorias {
  padding: 0 15px;
}

header.principal .resultados .categorias .titulo {
  font-size: 18px;
}

header.principal .resultados .categorias .lista-cat {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-bottom: 20px;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

header.principal .resultados .categorias .lista-cat::-webkit-scrollbar {
  display: none;
}

header.principal .resultados .categorias .lista-cat .item {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
}

header.principal .resultados .categorias .lista-cat .item:not(:first-child) {
  margin-left: -3px;
}

header.principal .resultados .categorias .lista-cat .item .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
}

header.principal .resultados .categorias .lista-cat .item .nome {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #fff;
  font-size: 14px;
}

header.principal.focus {
  position: absolute;
  top: 10px;
  left: 2.5%;
  width: 95%;
  margin: 0;
  padding-top: 5px;
  padding-right: 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

header.principal.focus .logobusca {
  padding: 0 15px;
}

header.principal.focus .logobusca .logo {
  width: 0%;
  margin-right: 0;
}

header.principal.focus .logobusca .busca {
  width: 100%;
}

header.principal.focus .resultados {
  display: block;
}

header.principal.focus + .area-conteudo {
  padding-top: 90px;
}

/* #######################################
        PAG. 01 - Home
####################################### */
.pag-home {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

.pag-home .area-conteudo {
  padding-top: 20px;
  padding-bottom: 80px;
}

.pag-home .area-conteudo .slide-home {
  padding: 0 15px;
  margin-bottom: 20px;
}

.pag-home .area-conteudo .slide-home .slide-item img {
  max-width: 100%;
}

/* #######################################
        PAG. 04 - STORIES
####################################### */
.pag-stories {
  position: relative;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-size: cover;
}

.pag-stories .sobre-empresa {
  position: absolute;
  top: 20px;
  left: 0;
  padding: 0 15px;
}

.pag-stories .sobre-empresa .logo {
  width: 20%;
  border-radius: 100%;
  overflow: hidden;
}

.pag-stories .sobre-empresa .logo img {
  max-width: 100%;
}

.pag-stories .sobre-empresa .sobre {
  width: 80%;
  padding-left: 15px;
}

.pag-stories .sobre-empresa .sobre .barrinha {
  display: block;
  width: 100%;
  height: 20px;
  border: 2px solid #ffa500;
  background-color: transparent;
}

.pag-stories .sobre-empresa .sobre .barrinha .preenchimento {
  height: 100%;
  display: block;
  background-color: #ffa500;
}

.pag-stories .sobre-empresa .sobre .avaliacao {
  color: #ffa500;
  margin-top: 10px;
}

.pag-stories .sobre-produto {
  text-align: center;
  color: #fff;
  background-image: inherit;
  width: 80%;
  /* =cw */
  height: 30%;
  /* =ch */
  position: absolute;
  top: 50%;
  /* =ct */
  left: 50%;
  /* =cl */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 30px;
  overflow: hidden;
  padding: 15px;
}

.pag-stories .sobre-produto .titulo {
  font-size: 34px;
  line-height: 1.1;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'nougatregular';
  text-shadow: 0px 0px 10px #000000;
}

.pag-stories .sobre-produto .sobre {
  width: 80%;
  margin-left: 10%;
  font-size: 18px;
  line-height: 1.2;
}

.pag-stories .sobre-produto .preco {
  color: #ffa500;
  font-size: 34px;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}

.pag-stories .sobre-produto .blur {
  background-image: inherit;
  background-size: cover;
  height: 100vh;
  /* h */
  height: calc(var(--vh, 1vh) * 100);
  width: 125%;
  /* (100/cw) x 100% */
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translate(-10%, -35%);
          transform: translate(-10%, -35%);
  /* - [cl - (cw/2)] % ,  -[ct - (ch/2)] % */
  -webkit-filter: blur(10px);
          filter: blur(10px);
  z-index: -1;
}

.pag-stories .btn-infor,
.pag-stories .btn-pedir {
  position: absolute;
  bottom: 20px;
  -webkit-box-shadow: 0px 0px 10px #000000;
          box-shadow: 0px 0px 10px #000000;
}

.pag-stories .btn-infor {
  left: 20px;
}

.pag-stories .btn-infor img {
  width: 60%;
  height: 60%;
}

.pag-stories .btn-pedir {
  right: 20px;
}

.pag-stories .btn-pedir img {
  width: 70%;
  height: 70%;
}
/*# sourceMappingURL=style.css.map */