@charset "UTF-8";
/*
Author: Fabrizio Feitosa
Author URI: http://fabriziofeitosa.me
*/
/* #######################################
        CONFIGURAÇÕES
####################################### */
@font-face {
  font-family: 'nougatregular';
  src: url("../fonts/nougat-extrablack-webfont.woff") format("woff2"), url("../fonts/nougat-extrablack-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Bahnschrift Regular"), url("../fonts/BAHNSCHRIFT.woff") format("woff");
}

/* #######################################
        BÁSICO
####################################### */
body, html {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Bahnschrift Regular';
}

a.tudo {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

*:focus {
  outline: none !important;
}

body .add-blur {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.modal .modal-content {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}

.modal-backdrop.show {
  opacity: 0;
}

body.modal-open .pag > *:not(.modal) {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

/* #######################################
        Estáticos
####################################### */
.btn-float {
  background-color: #ffa500;
  color: #fff;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  display: block;
  font-size: 40px;
}

.btn-float img {
  max-width: 80%;
  max-height: 80%;
}

.btn-float:hover, .btn-float:active {
  background-color: #ffb733;
}

.btn-principal {
  z-index: 997;
  position: fixed;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  min-width: 70px;
  min-height: 70px;
}

.btn-principal .icon-principal {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffa500;
  color: #fff;
  font-size: 34px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  display: block;
  font-size: 40px;
  line-height: 70px;
  text-align: center;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn-principal .icon-principal img {
  position: absolute;
  max-width: 80%;
  max-height: 80%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn-principal .icon-principal img.garfo {
  top: 10%;
  left: 30%;
}

.btn-principal .icon-principal img.faca {
  top: 10%;
  right: 30%;
}

.btn-principal .outros {
  z-index: 998;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background-color: #fad67a;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn-principal .outros .outro-btn {
  width: 60px;
  height: 60px;
  background-color: #fff;
  padding: 10px;
  border-radius: 100%;
}

.btn-principal .outros .outro-btn img {
  max-width: 100%;
  max-height: 100%;
}

.btn-principal .outros .position01 {
  position: absolute;
  top: 50%;
  left: 15%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.btn-principal .outros .position02 {
  position: absolute;
  top: 25%;
  left: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.btn-principal .outros .position03 {
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.btn-principal .outros .position04 {
  position: absolute;
  top: 25%;
  right: 25%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.btn-principal .outros .position05 {
  position: absolute;
  top: 50%;
  right: 15%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.btn-principal.aberto .icon-principal {
  font-size: 46px;
  width: 90px;
  height: 90px;
  line-height: 90px;
}

.btn-principal.aberto .icon-principal img.garfo {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  left: 45%;
}

.btn-principal.aberto .icon-principal img.faca {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  right: 45%;
}

.btn-principal.aberto .outros {
  width: 350px;
  height: 350px;
  opacity: 1;
}

.card-item {
  position: relative;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  margin: 0 15px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
}

.card-item .logotipo {
  width: 30%;
  max-width: 30%;
  background-position: center;
  background-size: cover;
}

.card-item .logotipo::before {
  content: '';
  padding-top: 100%;
  float: left;
}

.card-item .logotipo::after {
  content: '';
  display: block;
  clear: both;
}

.card-item .logotipo img {
  width: 100%;
  max-width: 100%;
}

.card-item .infor {
  width: 70%;
  padding-left: 10px;
}

.card-item .infor .nome {
  font-size: 24px;
  line-height: 1.2;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-item .infor .avaliacao {
  font-size: 12px;
  color: #ffa500;
}

.card-item .infor .avaliacao .estrelas,
.card-item .infor .avaliacao .nota {
  display: inline;
}

.card-item .infor .avaliacao .nota {
  margin-left: 5px;
}

.card-item .infor .categoria {
  font-size: 14px;
}

.card-item .status {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
}

.card-item .status .bola {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: silver;
  border-radius: 100%;
}

.card-item .status.online .bola {
  background-color: green;
}

.card-item.deBusca {
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.card-item.deBusca .infor {
  background-color: #f6f7f8;
}

.card-item:hover, .card-item:active {
  background-color: #e7e6e6;
}

.stories-list {
  width: calc(100% - 30px);
  height: 75px;
  margin: 0 15px;
  margin-bottom: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.stories-list::-webkit-scrollbar {
  display: none;
}

.stories-list .storie-item {
  position: relative;
  width: 70px;
  height: 70px;
  display: inline-block;
}

.stories-list .storie-item:not(:last-child) {
  margin-right: 15px;
}

.stories-list .storie-item .img {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.stories-list .storie-item .status {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #ffa500;
  border-radius: 100%;
}

/* #######################################
        HEADER
####################################### */
header.principal {
  z-index: 1000;
  margin: 0 15px;
  border-radius: 10px;
  -webkit-transition: all .2s;
  transition: all .2s;
  padding-top: 10px;
}

header.principal img {
  max-width: 100%;
}

header.principal .logobusca {
  height: 60px;
}

header.principal .logobusca .logo {
  width: 20%;
  height: 40px;
  margin-right: 10px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

header.principal .logobusca .logo img {
  max-height: 80%;
}

header.principal .logobusca .busca {
  width: 80%;
  height: 40px;
  position: relative;
  background-color: #e6e6e6;
  color: #000;
  border-radius: 10px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

header.principal .logobusca .busca input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0 50px 0 15px;
  font-size: 16px;
  line-height: 1;
}

header.principal .logobusca .busca button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}

header.principal .resultados {
  display: none;
  padding-top: 10px;
}

header.principal .resultados .mensagem {
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
  line-height: 1;
  padding: 15px 0;
  color: silver;
}

header.principal .resultados .categorias {
  padding: 0 15px;
}

header.principal .resultados .categorias .titulo {
  font-size: 18px;
}

header.principal .resultados .categorias .lista-cat {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-bottom: 20px;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

header.principal .resultados .categorias .lista-cat::-webkit-scrollbar {
  display: none;
}

header.principal .resultados .categorias .lista-cat .item {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
}

header.principal .resultados .categorias .lista-cat .item:not(:first-child) {
  margin-left: -3px;
}

header.principal .resultados .categorias .lista-cat .item .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
}

header.principal .resultados .categorias .lista-cat .item .nome {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #fff;
  font-size: 14px;
}

header.principal.focus {
  position: absolute;
  top: 10px;
  left: 2.5%;
  width: 95%;
  margin: 0;
  padding-top: 5px;
  padding-right: 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

header.principal.focus .logobusca {
  padding: 0 15px;
}

header.principal.focus .logobusca .logo {
  width: 0%;
  margin-right: 0;
}

header.principal.focus .logobusca .busca {
  width: 100%;
}

header.principal.focus .resultados {
  display: block;
}

header.principal.focus + .area-conteudo {
  padding-top: 90px;
}

/* #######################################
        PAG. 01 - Home
####################################### */
.pag-home {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

.pag-home .area-conteudo {
  padding-top: 20px;
  padding-bottom: 80px;
}

.pag-home .area-conteudo .slide-home {
  padding: 0 15px;
  margin-bottom: 20px;
}

.pag-home .area-conteudo .slide-home .slide-item img {
  max-width: 100%;
}

.pag-home .area-conteudo .slide-home .slick-dots {
  bottom: 0;
  left: 0;
}

/* #######################################
        PAG. 04 - STORIES
####################################### */
.pag-stories {
  position: relative;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-size: cover;
}

.pag-stories .sobre-empresa {
  position: absolute;
  top: 20px;
  left: 0;
  padding: 0 15px;
}

.pag-stories .sobre-empresa .logo {
  width: 20%;
  border-radius: 100%;
  overflow: hidden;
}

.pag-stories .sobre-empresa .logo img {
  max-width: 100%;
}

.pag-stories .sobre-empresa .sobre {
  width: 80%;
  padding-left: 15px;
}

.pag-stories .sobre-empresa .sobre .barrinha {
  display: block;
  width: 100%;
  height: 20px;
  border: 2px solid #ffa500;
  background-color: transparent;
}

.pag-stories .sobre-empresa .sobre .barrinha .preenchimento {
  height: 100%;
  display: block;
  background-color: #ffa500;
}

.pag-stories .sobre-empresa .sobre .avaliacao {
  color: #ffa500;
  margin-top: 10px;
}

.pag-stories .sobre-produto {
  text-align: center;
  color: #fff;
  background-image: inherit;
  width: 80%;
  /* =cw */
  height: 30%;
  /* =ch */
  position: absolute;
  top: 50%;
  /* =ct */
  left: 50%;
  /* =cl */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 30px;
  overflow: hidden;
  padding: 15px;
}

.pag-stories .sobre-produto .titulo {
  font-size: 34px;
  line-height: 1.1;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'nougatregular';
  text-shadow: 0px 0px 10px #000000;
}

.pag-stories .sobre-produto .sobre {
  width: 80%;
  margin-left: 10%;
  font-size: 18px;
  line-height: 1.2;
}

.pag-stories .sobre-produto .preco {
  color: #ffa500;
  font-size: 34px;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}

.pag-stories .sobre-produto .blur {
  background-image: inherit;
  background-size: cover;
  height: 100vh;
  /* h */
  height: calc(var(--vh, 1vh) * 100);
  width: 125%;
  /* (100/cw) x 100% */
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translate(-10%, -35%);
          transform: translate(-10%, -35%);
  /* - [cl - (cw/2)] % ,  -[ct - (ch/2)] % */
  -webkit-filter: blur(10px);
          filter: blur(10px);
  z-index: -1;
}

.pag-stories .btn-infor,
.pag-stories .btn-pedir {
  position: absolute;
  bottom: 20px;
  -webkit-box-shadow: 0px 0px 10px #000000;
          box-shadow: 0px 0px 10px #000000;
}

.pag-stories .btn-infor {
  left: 20px;
}

.pag-stories .btn-infor img {
  width: 60%;
  height: 60%;
}

.pag-stories .btn-pedir {
  right: 20px;
}

.pag-stories .btn-pedir img {
  width: 70%;
  height: 70%;
}

/* #######################################
        PAG. 05 - EMPRESA E SERVIÇOS
####################################### */
.pag-empresa {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

.pag-empresa .area-conteudo {
  padding-top: 20px;
  padding-bottom: 80px;
}

.pag-empresa .area-conteudo .sobreEmpresa {
  text-align: center;
}

.pag-empresa .area-conteudo .sobreEmpresa .logo {
  background-position: center;
  background-size: cover;
  width: 50%;
  margin: 0 auto;
  border-radius: 100%;
}

.pag-empresa .area-conteudo .sobreEmpresa .logo::before {
  content: '';
  padding-top: 100%;
  float: left;
}

.pag-empresa .area-conteudo .sobreEmpresa .logo::after {
  content: '';
  display: block;
  clear: both;
}

.pag-empresa .area-conteudo .sobreEmpresa .nome {
  font-size: 34px;
  line-height: 1;
  padding: 0 20px;
  margin-top: 10px;
}

.pag-empresa .area-conteudo .sobreEmpresa .avaliacao {
  color: #ffa500;
  font-size: 18px;
}

.pag-empresa .area-conteudo .sobreEmpresa .avaliacao .votar {
  background-color: #ffa500;
  display: inline-block;
  width: 30px;
  height: 30px;
  color: #fff;
  border-radius: 100%;
  font-size: 24px;
  line-height: 30px;
}

.pag-empresa .area-conteudo .sobreEmpresa .avaliacao .votar:hover, .pag-empresa .area-conteudo .sobreEmpresa .avaliacao .votar:active {
  text-decoration: none;
}

.pag-empresa .area-conteudo .listaCategorias {
  width: 100%;
  margin-top: 30px;
}

.pag-empresa .area-conteudo .listaCategorias .item-categoria {
  background-position: center;
  background-size: cover;
  width: 33.33%;
  position: relative;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.pag-empresa .area-conteudo .listaCategorias .item-categoria::before {
  content: '';
  padding-top: 100%;
  float: left;
}

.pag-empresa .area-conteudo .listaCategorias .item-categoria::after {
  content: '';
  display: block;
  clear: both;
}

.pag-empresa .area-conteudo .listaCategorias .item-categoria .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.pag-empresa .area-conteudo .listaCategorias .item-categoria .nome {
  position: absolute;
  right: 8px;
  bottom: 10px;
  color: #fff;
  line-height: 1;
  font-size: 18px;
}

.pag-empresa .area-conteudo .listaCategorias .item-categoria:hover {
  border: 2px solid #ffa500;
  padding: -2px;
}

.pag-empresa .area-conteudo .listaCategorias .item-categoria:hover .gradient {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), to(#ffa500));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #ffa500 100%);
}

/* #######################################
        PAG. 06 e 07 - PEDIDO ENVIADO
####################################### */
.pag-enviado {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

.pag-enviado .area-conteudo {
  padding-top: 20px;
  padding-bottom: 80px;
}

.pag-enviado .area-conteudo .pedido-infor {
  min-height: 380px;
  text-align: center;
}

.pag-enviado .area-conteudo .pedido-infor .titulo-status {
  padding-top: 20px;
  font-family: 'nougatregular';
  text-transform: uppercase;
  color: #ffa500;
  line-height: 1;
}

.pag-enviado .area-conteudo .pedido-infor .status-tempo .circulo {
  position: relative;
}

.pag-enviado .area-conteudo .pedido-infor .status-tempo .circulo strong {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 34px;
}

.pag-enviado .area-conteudo .pedido-infor .status-tempo .status {
  font-size: 24px;
  line-height: 1;
}

.pag-enviado .area-conteudo .pedido-infor .aviso-ops {
  padding: 0 30px 0;
}

.pag-enviado .area-conteudo .pedido-infor .aviso-ops .titulo {
  font-size: 60px;
}

.pag-enviado .area-conteudo .pedido-infor .aviso-ops .sub {
  color: #ffa500;
  line-height: 1;
}

.pag-enviado .area-conteudo .pedido-infor .aviso-ops .sobre {
  font-size: 14px;
  line-height: 1;
}

.pag-enviado .area-conteudo .pedido-infor .options {
  padding-top: 30px;
}

.pag-enviado .area-conteudo .pedido-infor .options > div {
  position: relative;
  width: 20%;
  color: #ffa500;
  line-height: 1;
}

.pag-enviado .area-conteudo .pedido-infor .options > div span {
  margin-top: 5px;
  display: inline-block;
}

.pag-enviado .area-conteudo .pedido-infor .options .ligacao,
.pag-enviado .area-conteudo .pedido-infor .options .chat {
  margin-left: 5%;
}

.pag-enviado .pedidos-anteriores > .titulo {
  font-size: 20px;
  padding-left: 15px;
  margin-bottom: 10px;
}

/* #######################################
        PAG. 08 - CHAT
####################################### */
.pag-chat {
  position: relative;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-size: cover;
}

.pag-chat .chat-header {
  background-color: #ffa500;
  color: #fff;
  height: 60px;
}

.pag-chat .chat-header .btn-voltar {
  width: 40px;
  text-align: center;
}

.pag-chat .chat-header .btn-voltar svg {
  height: 25px;
}

.pag-chat .chat-header .btn-voltar path {
  fill: #fff;
}

.pag-chat .chat-header .btn-voltar img {
  display: none;
}

.pag-chat .chat-header .avatar {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  overflow: hidden;
}

.pag-chat .chat-header .avatar img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: inline-block;
}

.pag-chat .chat-header .nome {
  font-size: 24px;
  margin-left: 10px;
  line-height: 1;
}

.pag-chat .chat-body {
  height: calc(100% - 60px);
  position: relative;
  padding-bottom: 60px;
}

.pag-chat .chat-body .mensagens {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100%;
  width: 100%;
  padding: 20px 0;
}

.pag-chat .chat-body .mensagens .tempo {
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
  color: #8d8d8d;
}

.pag-chat .chat-body .mensagens .balao {
  position: relative;
  background-color: #fff;
  color: #000;
  border-radius: .4em;
  padding: 10px;
  margin-top: 20px;
}

.pag-chat .chat-body .mensagens .balao.recebido {
  -ms-flex-item-align: start !important;
      align-self: flex-start !important;
  margin-left: 25px;
  background-color: #ffa500;
}

.pag-chat .chat-body .mensagens .balao.recebido::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #ffa500;
  border-left: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-left: -20px;
}

.pag-chat .chat-body .mensagens .balao.enviado {
  -ms-flex-item-align: end !important;
      align-self: flex-end !important;
  margin-right: 25px;
}

.pag-chat .chat-body .mensagens .balao.enviado::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left-color: #fff;
  border-right: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-right: -20px;
}

.pag-chat .chat-body .caixa-envio {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 0 20px;
}

.pag-chat .chat-body .caixa-envio .msg {
  width: 100%;
}

.pag-chat .chat-body .caixa-envio .msg input {
  height: 40px;
  width: 100%;
  border-radius: 20px;
  border: none;
  padding: 0 15px;
}

.pag-chat .chat-body .caixa-envio .enviar {
  width: 40px;
  margin-left: 15px;
}

.pag-chat .chat-body .caixa-envio .enviar .btn-enviar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #ffa500;
  border: none;
}

.pag-chat .chat-body .caixa-envio .enviar .btn-enviar img {
  max-width: 100%;
  padding-left: 5px;
}

/* #######################################
        PAG. 11 - CONFIGURAÇÕES
####################################### */
.pag-config {
  background-color: #ffa500;
  color: #fff;
  position: relative;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.pag-config .config-header {
  background-color: #ffa500;
  color: #fff;
  height: 60px;
}

.pag-config .config-header .btn-voltar {
  width: 40px;
  text-align: center;
}

.pag-config .config-header .btn-voltar svg {
  height: 25px;
}

.pag-config .config-header .btn-voltar path {
  fill: #fff;
}

.pag-config .config-header .btn-voltar img {
  display: none;
}

.pag-config .config-header .avatar {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  overflow: hidden;
}

.pag-config .config-header .avatar img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: inline-block;
}

.pag-config .config-header .nome {
  font-size: 24px;
  margin-left: 10px;
  line-height: 1;
}

.pag-config .config-body {
  position: relative;
  height: calc(100% - 60px);
  padding: 20px;
  font-size: 17px;
}

.pag-config .config-body .meusEnderecos .titulo {
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 10px;
}

.pag-config .config-body .meusEnderecos .lista {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.pag-config .config-body .meusEnderecos .lista .item {
  font-size: 14px;
  margin-bottom: 5px;
}

.pag-config .config-body .meusEnderecos .lista .item .fav {
  font-size: 16px;
  margin-right: 20px;
}

.pag-config .config-body .meusEnderecos .lista .item .ende .numero,
.pag-config .config-body .meusEnderecos .lista .item .ende .bairrocidade {
  margin-left: 20px;
}

.pag-config .config-body .meusEnderecos .addEndereco {
  width: 100%;
  text-align: center;
  color: #bb5733;
  font-size: 14px;
}

.pag-config .config-body .formasPag {
  margin-top: 20px;
}

.pag-config .config-body .formasPag .titulo {
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 10px;
}

.pag-config .config-body .formasPag .lista {
  padding: 0;
  margin: 0;
}

.pag-config .config-body .formasPag .lista .item {
  margin-bottom: 10px;
}

.pag-config .config-body .formasPag .lista .item .fav {
  margin-right: 20px;
}

.pag-config .config-body .formasPag .lista .item .icone {
  background-color: #fff;
  width: 30px;
  margin-right: 10px;
  height: 20px;
  border-radius: 5px;
}

.pag-config .config-body .formasPag .lista .item .icone img {
  max-width: 80%;
  height: 80%;
}

.pag-config .config-body .formasPag .lista .item .nome {
  font-size: 14px;
  line-height: 1;
}

.pag-config .config-body .formasPag .lista .item .nome input {
  background-color: transparent;
  border: none;
  color: #fff;
  border-bottom: 1px solid transparent;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.pag-config .config-body .formasPag .lista .item .nome input.placeholder {
  color: #fff;
  opacity: 1;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.pag-config .config-body .formasPag .lista .item .nome input:-moz-placeholder {
  color: #fff;
  opacity: 1;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.pag-config .config-body .formasPag .lista .item .nome input::-moz-placeholder {
  color: #fff;
  opacity: 1;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.pag-config .config-body .formasPag .lista .item .nome input:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.pag-config .config-body .formasPag .lista .item .nome input::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.pag-config .config-body .formasPag .lista .item .nome input:active, .pag-config .config-body .formasPag .lista .item .nome input:hover {
  border-bottom: 1px solid #bb5733;
}

.pag-config .config-body .formasPag .lista .item .nome input:active.placeholder, .pag-config .config-body .formasPag .lista .item .nome input:hover.placeholder {
  opacity: 0;
}

.pag-config .config-body .formasPag .lista .item .nome input:active:-moz-placeholder, .pag-config .config-body .formasPag .lista .item .nome input:hover:-moz-placeholder {
  opacity: 0;
}

.pag-config .config-body .formasPag .lista .item .nome input:active::-moz-placeholder, .pag-config .config-body .formasPag .lista .item .nome input:hover::-moz-placeholder {
  opacity: 0;
}

.pag-config .config-body .formasPag .lista .item .nome input:active:-ms-input-placeholder, .pag-config .config-body .formasPag .lista .item .nome input:hover:-ms-input-placeholder {
  opacity: 0;
}

.pag-config .config-body .formasPag .lista .item .nome input:active::-webkit-input-placeholder, .pag-config .config-body .formasPag .lista .item .nome input:hover::-webkit-input-placeholder {
  opacity: 0;
}

.pag-config .config-body .linksOutros {
  position: absolute;
  right: 20px;
  bottom: 20px;
  text-align: right;
}

.pag-config .config-body .linksOutros a {
  display: block;
  color: #fff;
  font-size: 20px;
}

.pag-config .config-body .linksOutros a:hover, .pag-config .config-body .linksOutros a:active {
  color: inherit;
}

.pag-config .config-body .linksOutros a:not(::last-child) {
  margin-bottom: 5px;
}

.pag-config .config-body .linksOutros .version {
  color: #bb5733;
  font-size: 20px;
  margin-top: 10px;
}

/* #######################################
        PAG. 16 - LOGIN
####################################### */
.pag-login {
  background-color: #ffa500;
  position: relative;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  padding-top: 10vh;
}

.pag-login .conteudo {
  margin: 0 auto;
}

.pag-login .conteudo .logo {
  text-align: center;
  margin-bottom: 30px;
}

.pag-login .conteudo .logo img {
  width: 50%;
  max-width: 100%;
}

.pag-login .conteudo form {
  width: 80%;
  margin: 0 auto;
}

.pag-login .conteudo form .form-group input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #c37129;
  padding: 5px 15px;
  font-size: 18px;
}

.pag-login .conteudo form .form-group input.placeholder {
  color: #c37129;
  opacity: 1;
}

.pag-login .conteudo form .form-group input:-moz-placeholder {
  color: #c37129;
  opacity: 1;
}

.pag-login .conteudo form .form-group input::-moz-placeholder {
  color: #c37129;
  opacity: 1;
}

.pag-login .conteudo form .form-group input:-ms-input-placeholder {
  color: #c37129;
  opacity: 1;
}

.pag-login .conteudo form .form-group input::-webkit-input-placeholder {
  color: #c37129;
  opacity: 1;
}

.pag-login .conteudo form button {
  display: block;
  background-color: #f78f1e;
  color: #fff;
  border: none;
  width: 80%;
  margin: 20px auto 0;
  padding: 15px 15px;
  font-size: 18px;
  border-radius: 10px;
  line-height: 1;
}

.pag-login .conteudo form .links {
  margin-top: 20px;
  color: #c37129;
  text-align: center;
  font-size: 18px;
}

.pag-login .conteudo form .links a {
  display: block;
  color: inherit;
}

/* #######################################
        PAG. 25 - Carrinho
####################################### */
.pag-carrinho .area-conteudo {
  padding-bottom: 80px;
}

.pag-carrinho .sobre-compra {
  padding: 10px 20px;
}

.pag-carrinho .sobre-compra #slideCarrinho {
  min-height: 100px;
}

.pag-carrinho .sobre-compra #slideCarrinho .slick-dots li button:before {
  color: orange;
}

.pag-carrinho .sobre-compra #slideCarrinho .slick-dots li.slick-active button:before {
  color: orange !important;
}

.pag-carrinho .sobre-compra .confirmar-itens > .titulo {
  font-size: 28px;
}

.pag-carrinho .sobre-compra .confirmar-itens .empresa > .logo {
  width: 20%;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
}

.pag-carrinho .sobre-compra .confirmar-itens .empresa > .logo::before {
  content: '';
  padding-top: 100%;
  float: left;
}

.pag-carrinho .sobre-compra .confirmar-itens .empresa > .logo::after {
  content: '';
  display: block;
  clear: both;
}

.pag-carrinho .sobre-compra .confirmar-itens .empresa > .nome {
  font-size: 34px;
  padding-left: 10px;
  letter-spacing: -2px;
}

.pag-carrinho .sobre-compra .confirmar-itens .pedido-lista {
  padding: 0;
  margin: 20px 0 0;
  list-style: none;
}

.pag-carrinho .sobre-compra .confirmar-itens .pedido-lista > .item,
.pag-carrinho .sobre-compra .confirmar-itens .pedido-lista > .total {
  position: relative;
  padding-left: 30px;
}

.pag-carrinho .sobre-compra .confirmar-itens .pedido-lista > .item .editar,
.pag-carrinho .sobre-compra .confirmar-itens .pedido-lista > .total .editar {
  position: absolute;
  top: -2px;
  left: 0;
  width: 18px;
}

.pag-carrinho .sobre-compra .confirmar-itens .pedido-lista > .item .editar img,
.pag-carrinho .sobre-compra .confirmar-itens .pedido-lista > .total .editar img {
  max-width: 100%;
}

.pag-carrinho .sobre-compra .confirmar-itens .pedido-lista > .item .editar path,
.pag-carrinho .sobre-compra .confirmar-itens .pedido-lista > .total .editar path {
  fill: #ffa500;
}

.pag-carrinho .sobre-compra .confirmar-itens .pedido-lista > .item .sobre > .nome,
.pag-carrinho .sobre-compra .confirmar-itens .pedido-lista > .total .sobre > .nome {
  font-size: 20px;
  line-height: 1;
}

.pag-carrinho .sobre-compra .confirmar-itens .pedido-lista > .item .sobre .observacao,
.pag-carrinho .sobre-compra .confirmar-itens .pedido-lista > .total .sobre .observacao {
  position: relative;
  padding: 4px 0 4px 30px;
  margin: 4px 0;
  color: #a7a7a7;
  font-size: 12px;
}

.pag-carrinho .sobre-compra .confirmar-itens .pedido-lista > .item .sobre .observacao::before,
.pag-carrinho .sobre-compra .confirmar-itens .pedido-lista > .total .sobre .observacao::before {
  content: '';
  display: block;
  position: absolute;
  left: 15px;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #a7a7a7;
}

.pag-carrinho .sobre-compra .confirmar-itens .pedido-lista > .item .preco,
.pag-carrinho .sobre-compra .confirmar-itens .pedido-lista > .total .preco {
  color: #ffa500;
  font-size: 20px;
}

.pag-carrinho .sobre-compra .confirmar-itens .pedido-lista > .item {
  margin-bottom: 5px;
}

.pag-carrinho .sobre-compra .confirmar-itens .pedido-lista > .total {
  margin: 30px 0 20px;
}

.pag-carrinho .sobre-compra .confirmar-itens .pedido-lista > .total .preco .taxa {
  display: block;
  color: #a7a7a7;
  font-size: 12px;
}

.pag-carrinho .sobre-compra .btn-continuar {
  background-color: #ffa500;
  color: #fff;
  border: none;
  border-radius: 50px;
  display: block;
  width: 100%;
  text-align: center;
  padding: 8px;
}

.pag-carrinho .pedidos-anteriores > .titulo {
  font-size: 20px;
  padding-left: 15px;
  margin-bottom: 10px;
}

/* #######################################
        Modals
####################################### */
#modalAddEndereco .modal-body .bemvindo,
#modalPerfil .modal-body .bemvindo,
#modalLogin .modal-body .bemvindo,
#modalRegistro .modal-body .bemvindo,
#modalFormConvidado .modal-body .bemvindo {
  color: #ffa500;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#modalAddEndereco .modal-body .sub-frase,
#modalPerfil .modal-body .sub-frase,
#modalLogin .modal-body .sub-frase,
#modalRegistro .modal-body .sub-frase,
#modalFormConvidado .modal-body .sub-frase {
  font-size: 14px;
  line-height: 1.2;
}

#modalAddEndereco .modal-body .avatar,
#modalPerfil .modal-body .avatar,
#modalLogin .modal-body .avatar,
#modalRegistro .modal-body .avatar,
#modalFormConvidado .modal-body .avatar {
  position: relative;
  background-position: center;
  background-size: cover;
  margin: 0 auto 20px;
  width: 50%;
  border-radius: 100%;
  border: 1px solid #ffa500;
}

#modalAddEndereco .modal-body .avatar::before,
#modalPerfil .modal-body .avatar::before,
#modalLogin .modal-body .avatar::before,
#modalRegistro .modal-body .avatar::before,
#modalFormConvidado .modal-body .avatar::before {
  content: '';
  padding-top: 100%;
  float: left;
}

#modalAddEndereco .modal-body .avatar::after,
#modalPerfil .modal-body .avatar::after,
#modalLogin .modal-body .avatar::after,
#modalRegistro .modal-body .avatar::after,
#modalFormConvidado .modal-body .avatar::after {
  content: '';
  display: block;
  clear: both;
}

#modalAddEndereco .modal-body .avatar .editar,
#modalPerfil .modal-body .avatar .editar,
#modalLogin .modal-body .avatar .editar,
#modalRegistro .modal-body .avatar .editar,
#modalFormConvidado .modal-body .avatar .editar {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #ffa500;
  border-radius: 100%;
  text-align: center;
}

#modalAddEndereco .modal-body .avatar .editar img,
#modalPerfil .modal-body .avatar .editar img,
#modalLogin .modal-body .avatar .editar img,
#modalRegistro .modal-body .avatar .editar img,
#modalFormConvidado .modal-body .avatar .editar img {
  width: 50%;
  max-width: 100%;
}

#modalAddEndereco .modal-body .form-group,
#modalPerfil .modal-body .form-group,
#modalLogin .modal-body .form-group,
#modalRegistro .modal-body .form-group,
#modalFormConvidado .modal-body .form-group {
  position: relative;
}

#modalAddEndereco .modal-body .form-group input,
#modalPerfil .modal-body .form-group input,
#modalLogin .modal-body .form-group input,
#modalRegistro .modal-body .form-group input,
#modalFormConvidado .modal-body .form-group input {
  background-color: #e7e8e8;
  width: 100%;
  border: none;
  padding: 15px;
  font-size: 18px;
  line-height: 1;
  border-radius: 10px;
}

#modalAddEndereco .modal-body .form-group .btn-editar,
#modalPerfil .modal-body .form-group .btn-editar,
#modalLogin .modal-body .form-group .btn-editar,
#modalRegistro .modal-body .form-group .btn-editar,
#modalFormConvidado .modal-body .form-group .btn-editar {
  display: none;
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 25px;
  height: 25px;
}

#modalAddEndereco .modal-body .form-group .btn-editar img,
#modalPerfil .modal-body .form-group .btn-editar img,
#modalLogin .modal-body .form-group .btn-editar img,
#modalRegistro .modal-body .form-group .btn-editar img,
#modalFormConvidado .modal-body .form-group .btn-editar img {
  max-width: 100%;
}

#modalAddEndereco .modal-body .form-group .btn-editar path,
#modalPerfil .modal-body .form-group .btn-editar path,
#modalLogin .modal-body .form-group .btn-editar path,
#modalRegistro .modal-body .form-group .btn-editar path,
#modalFormConvidado .modal-body .form-group .btn-editar path {
  fill: #ffa500;
}

#modalAddEndereco .modal-body .form-group.editar input:disabled,
#modalPerfil .modal-body .form-group.editar input:disabled,
#modalLogin .modal-body .form-group.editar input:disabled,
#modalRegistro .modal-body .form-group.editar input:disabled,
#modalFormConvidado .modal-body .form-group.editar input:disabled {
  color: #ffa500;
  background-color: transparent;
}

#modalAddEndereco .modal-body .form-group.editar .btn-editar,
#modalPerfil .modal-body .form-group.editar .btn-editar,
#modalLogin .modal-body .form-group.editar .btn-editar,
#modalRegistro .modal-body .form-group.editar .btn-editar,
#modalFormConvidado .modal-body .form-group.editar .btn-editar {
  display: block;
}

#modalAddEndereco .modal-body .form-group.noBlock .btn-editar,
#modalPerfil .modal-body .form-group.noBlock .btn-editar,
#modalLogin .modal-body .form-group.noBlock .btn-editar,
#modalRegistro .modal-body .form-group.noBlock .btn-editar,
#modalFormConvidado .modal-body .form-group.noBlock .btn-editar {
  display: block;
}

#modalAddEndereco .modal-body .botoes,
#modalPerfil .modal-body .botoes,
#modalLogin .modal-body .botoes,
#modalRegistro .modal-body .botoes,
#modalFormConvidado .modal-body .botoes {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
}

#modalAddEndereco .modal-body .botoes .voltar,
#modalAddEndereco .modal-body .botoes .cadastrar,
#modalPerfil .modal-body .botoes .voltar,
#modalPerfil .modal-body .botoes .cadastrar,
#modalLogin .modal-body .botoes .voltar,
#modalLogin .modal-body .botoes .cadastrar,
#modalRegistro .modal-body .botoes .voltar,
#modalRegistro .modal-body .botoes .cadastrar,
#modalFormConvidado .modal-body .botoes .voltar,
#modalFormConvidado .modal-body .botoes .cadastrar {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-color: transparent;
  border: none;
}

#modalAddEndereco .modal-body .botoes .voltar,
#modalPerfil .modal-body .botoes .voltar,
#modalLogin .modal-body .botoes .voltar,
#modalRegistro .modal-body .botoes .voltar,
#modalFormConvidado .modal-body .botoes .voltar {
  margin-right: 10px;
}

#modalPerfil .modal-body .form-group input {
  padding: 8px 15px;
}

#modalPerfil .modal-body .avatar {
  margin-bottom: 10px;
}

#modalPerfil .modal-body .nomeUsuario {
  color: #ffa500;
  font-size: 30px;
  letter-spacing: -1px;
  text-align: center;
  line-height: 1;
}

#modalPerfil .modal-body .nomeUsuario .btn-editar {
  display: inline-block;
  margin-left: 10px;
  width: 20px;
}

#modalPerfil .modal-body .nomeUsuario .btn-editar path {
  fill: #ffa500;
}

#modalPerfil .modal-body .avaliacao {
  text-align: center;
  color: #ffa500;
  margin-bottom: 15px;
}

#modalPerfil .modal-body .avaliacao .qtdPedidos {
  font-size: 12px;
  color: silver;
}

#modalPerfil .modal-body .meuCodigo {
  text-align: center;
  margin-bottom: 15px;
}

#modalPerfil .modal-body .meuCodigo .titulo {
  font-size: 17px;
  line-height: 1;
  margin-bottom: 5px;
}

#modalPerfil .modal-body .meuCodigo .cod {
  color: #ffa500;
  font-size: 34px;
  line-height: 1;
}

#modalPerfil .modal-body .meusPontos .titulo {
  line-height: 1;
  font-size: 17px;
  text-align: right;
}

#modalPerfil .modal-body .meusPontos .pontos {
  margin: 0 0 20px 10px;
  background-color: #e6e6e6;
  font-size: 34px;
  line-height: 1;
  text-align: center;
  width: 80px;
  border-radius: 8px;
  color: #ffa500;
  padding: 4px 15px;
}

#modalAddEndereco .modal-body,
#modalFormConvidado .modal-body {
  position: relative;
}

#modalAddEndereco .modal-body .sub-frase,
#modalFormConvidado .modal-body .sub-frase {
  padding: 0 20px;
}

#modalAddEndereco .modal-body .localizacao,
#modalFormConvidado .modal-body .localizacao {
  color: #ffa500;
  text-align: center;
  margin-bottom: 20px;
}

#modalAddEndereco .modal-body .localizacao a,
#modalFormConvidado .modal-body .localizacao a {
  color: inherit;
}

#modalAddEndereco .modal-body .localizacao img,
#modalFormConvidado .modal-body .localizacao img {
  display: inline-block;
  width: 10px;
}

#modalAddEndereco .modal-body form .campos,
#modalFormConvidado .modal-body form .campos {
  display: none;
}

#modalAddEndereco .modal-body form .botoes,
#modalFormConvidado .modal-body form .botoes {
  margin-top: 20px;
}

#modalAddEndereco .modal-body label,
#modalFormConvidado .modal-body label {
  color: #c37129;
  text-align: center;
  display: block;
}

#modalAddEndereco .modal-body label .setinha,
#modalFormConvidado .modal-body label .setinha {
  display: inline-block;
  width: 10px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all .2s;
  transition: all .2s;
}

#modalAddEndereco .modal-body label .setinha img,
#modalFormConvidado .modal-body label .setinha img {
  max-width: 100%;
}

#modalAddEndereco .modal-body label.checked .setinha,
#modalFormConvidado .modal-body label.checked .setinha {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

#modalAddEndereco .modal-body #inserirDados,
#modalFormConvidado .modal-body #inserirDados {
  position: absolute;
  left: -9999px;
}

#modalAddEndereco .modal-body #inserirDados:checked + form .campos,
#modalFormConvidado .modal-body #inserirDados:checked + form .campos {
  display: block;
}

#modalAddFavorito .modal-content,
#modalCancelarPedido .modal-content,
#modalProdutos .modal-content,
#modalContinuar .modal-content,
#modalAtention .modal-content {
  overflow: hidden;
}

#modalAddFavorito .modal-body,
#modalCancelarPedido .modal-body,
#modalProdutos .modal-body,
#modalContinuar .modal-body,
#modalAtention .modal-body {
  padding: 25px;
  color: #000;
}

#modalAddFavorito .modal-body .titulo,
#modalCancelarPedido .modal-body .titulo,
#modalProdutos .modal-body .titulo,
#modalContinuar .modal-body .titulo,
#modalAtention .modal-body .titulo {
  color: #ffa500;
  margin-bottom: 10px;
}

#modalAddFavorito .modal-body .frase,
#modalCancelarPedido .modal-body .frase,
#modalProdutos .modal-body .frase,
#modalContinuar .modal-body .frase,
#modalAtention .modal-body .frase {
  font-size: 14px;
  line-height: 1.2;
}

#modalAddFavorito .modal-body .opcoes .sacola,
#modalAddFavorito .modal-body .opcoes .continuar,
#modalAddFavorito .modal-body .opcoes .configs,
#modalAddFavorito .modal-body .opcoes .prosseguir,
#modalCancelarPedido .modal-body .opcoes .sacola,
#modalCancelarPedido .modal-body .opcoes .continuar,
#modalCancelarPedido .modal-body .opcoes .configs,
#modalCancelarPedido .modal-body .opcoes .prosseguir,
#modalProdutos .modal-body .opcoes .sacola,
#modalProdutos .modal-body .opcoes .continuar,
#modalProdutos .modal-body .opcoes .configs,
#modalProdutos .modal-body .opcoes .prosseguir,
#modalContinuar .modal-body .opcoes .sacola,
#modalContinuar .modal-body .opcoes .continuar,
#modalContinuar .modal-body .opcoes .configs,
#modalContinuar .modal-body .opcoes .prosseguir,
#modalAtention .modal-body .opcoes .sacola,
#modalAtention .modal-body .opcoes .continuar,
#modalAtention .modal-body .opcoes .configs,
#modalAtention .modal-body .opcoes .prosseguir {
  padding: 20px;
  width: 100%;
  color: #ffa500;
  text-align: center;
  line-height: 1.2;
  font-size: 16px;
}

#modalAddFavorito .modal-body .opcoes .sacola:hover, #modalAddFavorito .modal-body .opcoes .sacola:active,
#modalAddFavorito .modal-body .opcoes .continuar:hover,
#modalAddFavorito .modal-body .opcoes .continuar:active,
#modalAddFavorito .modal-body .opcoes .configs:hover,
#modalAddFavorito .modal-body .opcoes .configs:active,
#modalAddFavorito .modal-body .opcoes .prosseguir:hover,
#modalAddFavorito .modal-body .opcoes .prosseguir:active,
#modalCancelarPedido .modal-body .opcoes .sacola:hover,
#modalCancelarPedido .modal-body .opcoes .sacola:active,
#modalCancelarPedido .modal-body .opcoes .continuar:hover,
#modalCancelarPedido .modal-body .opcoes .continuar:active,
#modalCancelarPedido .modal-body .opcoes .configs:hover,
#modalCancelarPedido .modal-body .opcoes .configs:active,
#modalCancelarPedido .modal-body .opcoes .prosseguir:hover,
#modalCancelarPedido .modal-body .opcoes .prosseguir:active,
#modalProdutos .modal-body .opcoes .sacola:hover,
#modalProdutos .modal-body .opcoes .sacola:active,
#modalProdutos .modal-body .opcoes .continuar:hover,
#modalProdutos .modal-body .opcoes .continuar:active,
#modalProdutos .modal-body .opcoes .configs:hover,
#modalProdutos .modal-body .opcoes .configs:active,
#modalProdutos .modal-body .opcoes .prosseguir:hover,
#modalProdutos .modal-body .opcoes .prosseguir:active,
#modalContinuar .modal-body .opcoes .sacola:hover,
#modalContinuar .modal-body .opcoes .sacola:active,
#modalContinuar .modal-body .opcoes .continuar:hover,
#modalContinuar .modal-body .opcoes .continuar:active,
#modalContinuar .modal-body .opcoes .configs:hover,
#modalContinuar .modal-body .opcoes .configs:active,
#modalContinuar .modal-body .opcoes .prosseguir:hover,
#modalContinuar .modal-body .opcoes .prosseguir:active,
#modalAtention .modal-body .opcoes .sacola:hover,
#modalAtention .modal-body .opcoes .sacola:active,
#modalAtention .modal-body .opcoes .continuar:hover,
#modalAtention .modal-body .opcoes .continuar:active,
#modalAtention .modal-body .opcoes .configs:hover,
#modalAtention .modal-body .opcoes .configs:active,
#modalAtention .modal-body .opcoes .prosseguir:hover,
#modalAtention .modal-body .opcoes .prosseguir:active {
  text-decoration: none;
}

#modalAddFavorito .modal-body .opcoes .continuar,
#modalCancelarPedido .modal-body .opcoes .continuar,
#modalProdutos .modal-body .opcoes .continuar,
#modalContinuar .modal-body .opcoes .continuar,
#modalAtention .modal-body .opcoes .continuar {
  margin: 0 0 -25px -25px;
  border-top: 1px solid #686868;
  border-right: 1px solid #686868;
}

#modalAddFavorito .modal-body .opcoes .configs,
#modalCancelarPedido .modal-body .opcoes .configs,
#modalProdutos .modal-body .opcoes .configs,
#modalContinuar .modal-body .opcoes .configs,
#modalAtention .modal-body .opcoes .configs {
  margin: 0 -25px -25px 0;
  border-top: 1px solid #686868;
}

#modalAddFavorito .modal-body .opcoes .sacola,
#modalAddFavorito .modal-body .opcoes .prosseguir,
#modalCancelarPedido .modal-body .opcoes .sacola,
#modalCancelarPedido .modal-body .opcoes .prosseguir,
#modalProdutos .modal-body .opcoes .sacola,
#modalProdutos .modal-body .opcoes .prosseguir,
#modalContinuar .modal-body .opcoes .sacola,
#modalContinuar .modal-body .opcoes .prosseguir,
#modalAtention .modal-body .opcoes .sacola,
#modalAtention .modal-body .opcoes .prosseguir {
  margin: 0 -25px -25px -25px;
  border-top: 1px solid #686868;
  width: 150%;
}

#modalProdutos .modal-body .header {
  margin: -25px -25px 20px -25px;
}

#modalProdutos .modal-body .header .img {
  position: relative;
  background-color: #f5f5f5;
  width: 100px;
  background-position: center;
  background-size: cover;
}

#modalProdutos .modal-body .header .img .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(255, 255, 255, 0)), to(white));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, white 100%);
}

#modalProdutos .modal-body .header .titulo {
  padding-top: 25px;
  padding-left: 20px;
}

#modalProdutos .modal-body .lista-itens {
  margin-bottom: 20px;
}

#modalProdutos .modal-body .lista-itens .item-produto:not(:first-child) {
  margin-top: 20px;
}

#modalProdutos .modal-body .lista-itens .item-produto .sobre .nome {
  color: #c37129;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 10px;
}

#modalProdutos .modal-body .lista-itens .item-produto .sobre .desc {
  color: #a7a7a7;
  line-height: 1.2;
  margin-bottom: 5px;
}

#modalProdutos .modal-body .lista-itens .item-produto .sobre .preco {
  color: #ffa500;
  font-size: 20px;
  margin-bottom: 10px;
}

#modalProdutos .modal-body .lista-itens .item-produto .paraCarrinho {
  position: relative;
  display: none;
  padding-left: 10%;
}

#modalProdutos .modal-body .lista-itens .item-produto .paraCarrinho::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 5%;
  width: 1px;
  height: 100%;
  background-color: silver;
}

#modalProdutos .modal-body .lista-itens .item-produto .paraCarrinho input,
#modalProdutos .modal-body .lista-itens .item-produto .paraCarrinho button {
  background-color: transparent;
  border: none;
  display: inline-block;
}

#modalProdutos .modal-body .lista-itens .item-produto .paraCarrinho input {
  background-color: #e6e6e6;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 0 5px;
  font-size: 18px;
}

#modalProdutos .modal-body .lista-itens .item-produto .paraCarrinho input::-webkit-outer-spin-button, #modalProdutos .modal-body .lista-itens .item-produto .paraCarrinho input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

#modalProdutos .modal-body .lista-itens .item-produto .paraCarrinho input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

#modalProdutos .modal-body .lista-itens .item-produto .paraCarrinho .menos,
#modalProdutos .modal-body .lista-itens .item-produto .paraCarrinho .mais {
  width: 30px;
  height: 40px;
}

#modalProdutos .modal-body .lista-itens .item-produto .paraCarrinho .mais img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#modalProdutos .modal-body .lista-itens .item-produto .paraCarrinho .paraSacola {
  background-color: #ffa500;
  color: #fff;
  border-radius: 20px;
  padding: 0 20px;
  font-size: 14px;
}

#modalProdutos .modal-body .lista-itens .item-produto .paraCarrinho .observacao {
  margin-top: 10px;
}

#modalProdutos .modal-body .lista-itens .item-produto .paraCarrinho .observacao textarea {
  width: 100%;
  background-color: #e6e6e6;
  border-radius: 5px;
  border: none;
  resize: none;
  font-size: 18px;
  padding: 8px 10px;
  margin: 0 0 -10px 0;
}

#modalProdutos .modal-body .lista-itens .item-produto.aberto .paraCarrinho {
  display: block;
}

#modalProdutos .modal-body .opcoes .sacola {
  border: none;
  background-color: #ffa500;
  color: #fff;
}

/* #######################################
        PAG. 26 - Card de produto
####################################### */
.card-produto {
  padding: 8px 15px;
}

.card-produto .produto-img {
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: 24%;
  border-radius: 20px;
}

.card-produto .produto-img::before {
  content: '';
  padding-top: 100%;
  float: left;
}

.card-produto .produto-img::after {
  content: '';
  display: block;
  clear: both;
}

.card-produto .produto-infor {
  padding-left: 20px;
}

.card-produto .produto-infor .nome {
  color: #000;
}

.card-produto .produto-infor .sobre {
  color: silver;
  font-size: 14px;
}

.card-produto .produto-infor .preco {
  font-size: 14px;
}

.card-produto .produto-infor .preco .old {
  text-decoration: line-through;
}

.card-produto .produto-infor .preco .new {
  margin-left: 5px;
  color: #00cc00;
}
/*# sourceMappingURL=style.css.map */