/*
Author: Fabrizio Feitosa
Author URI: http://fabriziofeitosa.me
*/

@charset "UTF-8";

/* #######################################
        CONFIGURAÇÕES
####################################### */

/* #######################################
        BÁSICO
####################################### */

body, html {
    width: 100%;
    height: 100%;
}

a.tudo {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

/* #######################################
        PAG. STORIES
####################################### */

.pag-stories {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .sobre-empresa {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }

    .sobre-produto {
        text-align: center;
        color: #fff;
        max-width: 80%;
        .titulo {
            font-size: 34px;
            line-height: 1.1;
            font-weight: bold;
            text-transform: uppercase;
        }
        .sobre {
            max-width: 80%;
            font-size: 18px;
            line-height: 1.2;
        }
        .preco {
            color: orange;
            font-size: 34px;
        }
    }

    .btn-infor,
    .btn-pedir {
        position: absolute;
        bottom: 20px;
    }

    .btn-infor {
        left: 20px;
    }
    .btn-pedir {
        right: 20px;
    }
}

$tamanhoBola: 70px;
.btn-float {
    background-color: orange;
    color: #fff;
    width: $tamanhoBola;
    height: $tamanhoBola;
    border-radius: 100%;
    display: block;
    font-size: 40px;
}