/*
Author: Fabrizio Feitosa
Author URI: http://fabriziofeitosa.me
*/

@charset "UTF-8";

/* #######################################
        CONFIGURAÇÕES
####################################### */

/* #######################################
        BÁSICO
####################################### */

body, html {
    width: 100%;
    height: 100%;
}

a.tudo {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

/* #######################################
        PAG. STORIES
####################################### */


.pag-stories {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;

    .sobre-empresa {
        position: absolute;
        top: 0;
        left: 0;
        display: none !important;
    }

    $cw: 80%;
    $ch: 30%;

    $ct: 50%;
    $cl: 50%;

    $blur-w: (100%/$cw) * 100%;

    $tx: $cl - ($cw/2);
    $ty: $ct - ($ch/2);

    .sobre-produto {
        text-align: center;
        color: #fff;
        background-image: inherit;
        width: $cw; /* =cw */
        height: $ch; /* =ch */
        position: absolute;
        top: $ct; /* =ct */
        left: $cl; /* =cl */
        transform: translate(-50%, -50%);
        border-radius: 30px;
        overflow: hidden;

        .titulo {
            font-size: 34px;
            line-height: 1.1;
            font-weight: bold;
            text-transform: uppercase;
        }
        .sobre {
            width: 80%;
            margin-left: 10%;
            font-size: 18px;
            line-height: 1.2;
        }
        .preco {
            color: orange;
            font-size: 34px;
            font-weight: bold;;
        }
        .blur {
            background-image: inherit;
            background-size: cover;
            height: 100vh; /* h */
            width: $blur-w; /* (100/cw) x 100% */
            position: absolute;
            left: 0;
            top: 0;
            transform: translate(-$tx,-$ty); /* - [cl - (cw/2)] % ,  -[ct - (ch/2)] % */
            filter: blur(10px);
            z-index: -1;
        }
    }

    .btn-infor,
    .btn-pedir {
        position: absolute;
        bottom: 20px;
    }

    .btn-infor {
        left: 20px;
    }
    .btn-pedir {
        right: 20px;
    }
}

$tamanhoBola: 70px;
.btn-float {
    background-color: orange;
    color: #fff;
    width: $tamanhoBola;
    height: $tamanhoBola;
    border-radius: 100%;
    display: block;
    font-size: 40px;
}